<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Mybrary</a>
    <ul>
      <li><a href="/drivers">Drivers</a></li>
      <li><a href="/drivers/new">Add Driver</a></li>
      <li><a href="/tours">Tours</a></li>
      <li><a href="/tours/new">Add Tour</a></li>
      <li><a href="/customers">Customers</a></li>
      <li><a href="/customers/new">Add Customer</a></li>
      <li><a href="/participants">Participants</a></li>
      <li><a href="/participants/new">Add Participant</a></li>
      <li><a href="/guides">Guides</a></li>
      <li><a href="/guides/new">Add Guide</a></li>
    </ul>
  </nav>
</header>